extends layout

block scripts
  script(src=site.ghbaseurl + '/public/js/guide.js')

block content
  nav#guide.sidebar.sticky
    for section in files.guide
      - group = section.href.split('/').filter(function (l) { return l.length ? true : false });
      - var isActive = file.href === section.href ? 'active ' : '';
      - if (group.length == 1)
        .item.primary(id='guide-index', class=isActive)
          span.star
          a.title(href=section.href)= section.title
        .line
      - if (group.length == 2)
        .item.primary(id=group[1], class=isActive + ((isActive) ? 'expanded' : ''))
          span.expand +
          span.collapse -
          a.title(href=section.href)= section.title
        .subitems(id=group[1])
          for subsection in files.guide
            - subgroup = subsection.href.split('/').filter(function (l) { return l.length ? true : false });
            - if (subgroup.length !== 2 && ~subsection.href.indexOf(group[1])) 
              - isExpanded = isActive ? 'expanded scroll ' : ''
              - href = (isActive) ? '#' + subgroup[2] : site.ghbaseurl + section.href + '#' + subgroup[2];
              a.item.secondary(href=href, id=subgroup[2], class=isExpanded + 'group-' + group[1])= subsection.title

  .documentation
    .wrap
      block rendered
        .rendered
          .header!= file.prepared
          for rendersection in files.guide
            - filegroup = file.href.split('/').filter(function (l) { return l.length ? true : false })
            - rendergroup = rendersection.href.split('/').filter(function (l) { return l.length ? true : false })
            - if (rendergroup.length !== 2 && ~rendersection.href.indexOf(filegroup[1])) 
              article(id=rendergroup[2] + '-section')!= rendersection.prepared

