extends layout

block scripts
  script(src=site.ghbaseurl + '/public/js/home.js')

block header
  header
    .header-wrap
      .installation
        .site-description!= site.description
        .card-wrap
          .card
            .card-inner
              h1 Download Chai
                span.version v1.0.0
              #node.install
                h2 for Node
                  small Another platform?
                    a.toggle(href='#browser') Browser
                    a.toggle(href='#rails') Rails
                .download-banner 
                  .description The <code>chai</code> package is available on npm.
                  .command.dsp-left $ npm install chai
                  a.button.dsp-right(href='#') View Node Guide
              #browser.install
                h2 for Browser
                  small Another platform?
                    a.toggle(href='#node') Node
                    a.toggle(href='#rails') Rails
                .download-banner 
                  .description The <code>chai.js</code> script is available for download or a hotlink.
                  a.button-alt.dsp-left(href='http://chaijs.com/chai.js')  Download chai.js
                  a.button.dsp-right(href='#') View Browser Guide
              #rails.install
                h2 for Rails
                  small Another platform?
                    a.toggle(href='#node') Node
                    a.toggle(href='#browser') Browser
                .download-banner 
                  .description Chai is included as part of the <code>konacha</code> gem.
                  a.button-alt.dsp-left(href='#') GitHub Project
                  a.button.dsp-right(href='#') View Rails Guide
              .tech-links
                a(href='#') Issues
                | &nbsp;|&nbsp;
                a(href='#') Upgrade notes
                | &nbsp;|&nbsp;
                a(href='#') Changelog
                | &nbsp;|&nbsp;
                a(href='#') Community
                | &nbsp;|&nbsp;
                a(href='#') Build status
      .callouts
        #guide.call
          a(href=site.ghbaseurl + '/guide')
            span.icon
            big Getting Started
            small Learn how install and use Chai through a series of guided walkthroughs.
          .bg
        #api.call
          a(href=site.ghbaseurl + '/api')
            span.icon
            big API Documentation
            small Explore the BDD &amp; TDD language specifications for all available assertions.
          .bg
        #plugins.call
          a(href=site.ghbaseurl + '/plugins')
            span.icon
            big Plugin Directory
            small Extend Chai's with additional assertions and vendor integration.
          .bg

block content
  #home.grid_12.panels
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2.plain Chai has interfaces... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      if (files.home_samples)
        for section in files.home_samples
          article.grid_4.code.contrast
            .wrap
              h3.fancy= section.title
              .code-sample!= section.prepared
              .more-wrap
                a(href='#', class='more') Visit #{section.title} Guide
                  span.arrow &rarr;
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2.plain Plugins extend Chai... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      article#plugin-featured.grid_6.plugin-box.contrast
        .plugin-title
          h2.plain.accent-wrap
            span.accented Chai jQuery
              span.faccentl
              span.faccentr
          .action-button
            a(href='#') Learn More &amp; Install
              span.arrow &rarr;
        .wrap
          h3.fancy Featured Plugin
          .plugin-desc!= file.prepared
      article#plugin-dir.grid_3.plugin-box.contrast
        span.img
          .icon
        .wrap
          h3.fancy Custom Plugins
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          .more-wrap
            a(href='#', class='more') Browse Plugins
              span.arrow &rarr;
      article#plugin-guide.grid_3.plugin-box.contrast
        span.img
          .icon
        .wrap
          h3.fancy Develop Plugins
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia amet.
          .more-wrap
            a(href='#', class='more') Plugin Guide 
              span.arrow &rarr;
    .rowInside
      article.grid_12.hrline
      article.grid_12.desc
        h2.plain Chai's awesome community... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et purus libero, et elementum diam. Sed auctor semper dictum. Morbi vitae mauris ac velit vehicula elementum ac et massa. Donec posuere.
      article.github.grid_6.contrast
        .wrap
          span.img &nbsp;
          h3.fancy Powered by Open Source
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula odio sit amet dolor porta non lacinia risus molestie. Nulla posuere.
          .more-wrap
            a(href='#', class='more') Fork me on GitHub
              span.arrow &rarr;
      article.community.grid_6.contrast
        .wrap
          h3.fancy Involved Community
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula odio sit amet dolor porta non lacinia risus molestie. Nulla posuere.
          .more-wrap
            a(href='#', class='more') Visit Google Group
              span.arrow &rarr;
