extends api-index

block scripts
  script(src=site.ghbaseurl + '/public/js/tests/mocha.js')
  script
    mocha.setup('tdd');
  <script src="/chai.js"></script>
  script(src=site.ghbaseurl + '/public/js/tests/configuration.js')
  script(src=site.ghbaseurl + '/public/js/tests/expect.js')
  script(src=site.ghbaseurl + '/public/js/tests/should.js')
  script(src=site.ghbaseurl + '/public/js/tests/assert.js')
  script(src=site.ghbaseurl + '/public/js/tests/plugins.js')
  script(src=site.ghbaseurl + '/public/js/tests/utilities.js')
  script
    onload = function () {
      mocha.run();
    }

block rendered
  article!= file.prepared
  #mocha
