extends ../layout

block scripts
  script(src=site.ghbaseurl + '/public/js/jquery-css-transform.js')
  script(src=site.ghbaseurl + '/public/js/jquery-animate-css-rotate-scale.js')
  script(src=site.ghbaseurl + '/public/js/jquery.quicksand.js')
  script(src=site.ghbaseurl + '/public/js/plugins.js')

block content
  mixin plugin(plug)
    article.grid_3.contrast.plugin-box_s(id=plug.url)
      a(href=site.ghbaseurl + '/plugins/' + plug.url, class='ablock') 
        .wrap
          h3.fancy= plug.name 
          p= plug.desc

  #ptags.grid_3.sticky
    .tag.active
      .which(id='all') all plugins
    .line
    for tag, name in plugin_tags
      - var tagName = name.replace(/\-/g, ' ');
      .tag
        .which(id=name)= tagName
        span.reset &times;
  #plugins.grid_9.panels
    .plug_list_scratch.rowInside
      for plugin in plugins
        mixin plugin(plugin)
    .plug_list.rowInside.all
      for plugin in plugins
        mixin plugin(plugin)
    for tag, name in plugin_tags
      .plug_list.rowInside(class=name)
        for plugin in tag
          mixin plugin(plugin)
